<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llanox.mobile.easyvote"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
    
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskQuestion"
            android:label="@string/title_activity_ask_question" >
        </activity>
        
        <activity
            android:name=".QuestionListActivity"
            android:label="@string/title_question_list" >
        </activity>
        
        <activity
            android:name=".QuestionDetailActivity"
            android:label="@string/title_question_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llanox.mobile.easyvote.QuestionListActivity" />
        </activity>
        
<!--             <activity -->
<!--             android:name=".AnswerQuestionDetailActivity" -->
<!--             android:label="@string/title_answer_question_detail" -->
<!--             android:parentActivityName=".QuestionListActivity" > -->
<!--             <meta-data -->
<!--                 android:name="android.support.PARENT_ACTIVITY" -->
<!--                 android:value="com.llanox.mobile.easyvote.QuestionListActivity" /> -->
<!--         </activity> -->
        
            
        <activity android:name="com.llanox.mobile.easyvote.AnswerQuestionListActivity"
            android:label="@string/title_answerquestion_list"
            >
        </activity>

        <activity android:name="com.llanox.mobile.easyvote.AnswerQuestionDetailActivity"
            android:label="@string/title_answerquestion_detail"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.llanox.mobile.easyvote.AnswerQuestionListActivity" />
        </activity>
        
         <service android:name="com.backendless.AndroidService" />
            
    </application>

</manifest>
